<h1>Add New Genre</h1>
<div class="container">
    <form action="/addGenre" method="POST">
        <label for="genreName">Genre Name</label>
        <input type="text" id="genreName" name="genreName" placeholder="genre name...">
        <input type="submit" value="Submit">
    </form>
</div>