<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Genre</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo">
                    <img class="logo" src="/images/nodeLogo.png" alt="nodeLogo">
                </a>
                <input type="checkbox" id="nav" />
                <label for="nav"></label>
                <ul>
                    <li>
                        <a href="/addGenre">Add Genre</a>
                    </li>
                    <li>
                        <a href="/addMeme">Add Meme</a>
                    </li>
                    <li>
                        <a href="/viewAllMemes">View All Memes</a>
                    </li>
                    <li>
                        <a href="/searchMeme">Search</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <h1>Add New Meme</h1>
    <div class="container">
        <form action="/addMeme" method="POST" enctype="multipart/form-data">
            <label for="title">Title</label>
            <input type="text" id="title" name="memeName" placeholder="The name of the meme" required>
            <select name='genre' id="genreSelect">
                <div id="replaceMe">{{replaceMe}}</div>
            </select>
            <input type="file" id="memePoster" name="memeSrc" accept=".jpeg, .jpg, .png" required>
            <input type="checkbox" name='privacy' id='privacy' checked> public
            <textarea id="description" name="description" placeholder="Meme description" rows="10" cols="10" required></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>