<section>
    <h2>Login</h2>
    <div class="spacer">
        <form id="login-form" action="/user/login" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{email}}" />
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
            <input type="submit" value="Login">
        </form>
    </div>
</section>